body {
    font-family: sans-serif;
    background-color: #FFFF73;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #BFBF30;
    padding: 20px;
}

header a{
    margin: 5px;
    float: right;
}

h1{
    text-align: center;
}

footer{
    background-color: #A6A600;
    padding: 5px;
    margin-top:85px;
}

main{
    padding: 10px;
}

main img{
    width: 250px;
    height: 200px;
    margin: 0px 65px;
}

.logo{
    width: 20px;
    height: 20px;
    
}
